<section id='about'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-12 about-title'>
				<img src = 'img/logo.png' class='about-logo'> <br/>
				First half of something that Captures
			</div>
			<div class='col-sm-12 about-subtitle'>
				Second half of something that Captures
			</div>

			<div class='col-sm-4'>
				<p class='about-subhead about-subhead-1'>
					[About Comp.]
				</p>
				<p class='about-img text-center'>
					[Insert Purple Image]
				</p>
				<p class='about-description about-description-1'>
				 	Singapore GeoSpatial Challange Business Analytics Mania (SGCBAM) is a nationwide competition which aims to introduce the use of Data Analytics tools for business organisations to students, giving them an opportunity to learn business analytics tools to move Singapore towards becoming a Smart Nation.
			 	</p>
			</div>
			<div class='col-sm-4'>
				<p class='about-subhead about-subhead-2'>
					Lorem Ipsum 1
				</p>
				<p class='about-img text-center'>
					[Insert Cyan Image]
				</p>
				<p class='about-description about-description-2'>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in augue at odio venenatis malesuada sed a felis. Sed vitae mattis libero. Vivamus sed odio nec dui fringilla eleifend. Morbi ac lacinia enim, et posuere risus.
				</p>
			</div>
			<div class='col-sm-4'>
				<p class='about-subhead about-subhead-3'>
					[Prizes]
				</p>
				<p class='about-img text-center'>
					[Insert Blue Image]
				</p>
				<p class='about-description about-description-3'>
					All participants will receive a certificate of participation. Outstanding teams also stand a chance to win attractive prizes!
					<p>
						<div class='about-prizes'>
							<span>1st<br></span>
							<span class='about-cash'>$2000</span>
						</div>
						<div class='about-prizes'>
							<span>2nd<br></span>
							<span class='about-cash'>$1500</span>
						</div>
						<div class='about-prizes'>
							<span>3rd<br></span>
							<span class='about-cash'>$1000</span>
						</div>
				    </p>
				</p>
			</div>
		</div>
	</div>
</section>
