<section id='about'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-3 col-sm-offset'>
				<img src = 'img/logo.png' class='about-logo'>
			</div>

			<div class='col-sm-7'>
				<div class='about-title'> Mapping Our Tomorrow </div>
				<div class='about-description'>
					Singapore Geospatial Challenge Business Analytics Mania (SGCBAM) is a nationwide competition which aims to generate awareness among pre-university and university students on the subject of geospatial analysis and its application to business scenarios. SGCBAM is aligned with the government’s latest goal of building up analytics competency, furthering the SG Smart Nation initiatives.
				</div>
			</div>
			<div class='col-sm-2'>
				<div>
					<div class='about-prizes'>
						<span>1st Prize<br></span>
						<span class='about-cash'>$2000</span>
					</div>
					<div class='about-prizes'>
						<span>2nd Prize<br></span>
						<span class='about-cash'>$1500</span>
					</div>
					<div class='about-prizes'>
						<span>3rd Prize<br></span>
						<span class='about-cash'>$1000</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
