<section id='about'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-12 about-title'>
				<img src = 'img/logo.png' class='about-logo'> <br/>
				Look into the heart of data
			</div>
			<div class='col-sm-12 about-subtitle'>
				determine the best place to be
			</div>

			<div class='col-sm-4'>
				<p class='about-subhead about-subhead-1'>
					About
				</p>
				<div class='about-description about-description-1'>
				 	Singapore GeoSpatial Challange Business Analytics Mania (SGCBAM) is a nationwide competition which aims to introduce the use of Data Analytics tools for business organisations to students, giving them an opportunity to learn business analytics tools to move Singapore towards becoming a Smart Nation.
			 	</div>
			</div>
			<div class='col-sm-4'>
				<p class='about-subhead about-subhead-2'>
					The Challenge
				</p>
				<div class='about-description about-description-2'>
					On the day of the competition, teams will be given a set of raw data, and will learn to use SAS data analytics software to gain innovative business insights and formulate proposals. The problem statement for the challenge will be released on the competition day itself.
				</div>
			</div>
			<div class='col-sm-4'>
				<p class='about-subhead about-subhead-3'>
					Prizes
				</p>
				<div class='about-description about-description-3'>
					All participants in the challenge will receive certificates of participation. Outstanding teams also have an opportunity to win attractive prizes!
				</div>
				<div>
					<div class='about-prizes'>
						<span>1st<br></span>
						<span class='about-cash'>$2000</span>
					</div>
					<div class='about-prizes'>
						<span>2nd<br></span>
						<span class='about-cash'>$1500</span>
					</div>
					<div class='about-prizes'>
						<span>3rd<br></span>
						<span class='about-cash'>$1000</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
