<section id='connect'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-6' id='map-holder'>
				<div id='map'></div>
			</div>

			<div class='col-sm-3' id='get-there'>
				<p class='connect-title'>Getting Here</p>
				Public transport: Take free NUS shuttle bus D2 from Kent Ridge MRT bus stop (18331). Alight at University Town.
				Click <a href="http://www.nus.edu.sg/oca/doc/Bus%20Frequency%20&%20Route%20(2015).pdf">here</a> for bus shuttle details.
				<br><br/>

			</div>

			<div class='col-sm-3' id='contact'>
				<p class='connect-title'>Leave a Message!</p>

				The SGCBAM Team
				<br><br>
				UTown SRC, 2 College Avenue West<br/>
				Singapore 138607 <br> <br/>

				<img src = 'img/email.png' class='connect-email'
				 onclick='window.location.href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x73;&#x67;&#x63;&#x62;&#x61;&#x6D;&#x2E;&#x6F;&#x72;&#x67;";'>
				<img src = 'img/fb.png' class='connect-fb'
				 onclick='window.location.href="https://www.facebook.com/sgcbam2016"'>
				 <img src = 'img/instagram.png' class='connect-instagram'
				  onclick='window.location.href="https://www.instagram.com/sgcbam/"'>
			</div>
		</div>
		</div>
</section>
