<section id='connect'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-6' id='map-holder'>
				<div id='map'></div>
			</div>

			<div class='col-sm-3' id='get-there'>
				<p class='connect-title'>Getting Here</p>
				Public transport: Take free NUS shuttle bus D2 from Kent Ridge MRT bus stop (18331). Alight at University Town.
				Click <a href="http://www.nus.edu.sg/oca/doc/Bus%20Frequency%20&%20Route%20(2015).pdf">here</a> for bus shuttle details.
				<br><br/>

			</div>

			<div class='col-sm-3' id='contact'>
				<p class='connect-title'>Leave a Message!</p>

				The SGCBAM Team
				<br><br>
				UTown SRC, 2 College Avenue West<br/>
				Singapore 138607 <br> <br/>

				<img src = 'img/email.png' class='connect-email'
				 onclick='window.location.href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#101;&#116;&#117;&#115;&#64;&#110;&#117;&#115;&#98;&#105;&#122;&#105;&#116;&#46;&#111;&#114;&#103;";'>
				<img src = 'img/fb.png' class='connect-fb'
				 onclick='window.location.href="https://facebook.com"'>
			</div>
		</div>
		</div>
</section>
