<section id='connect'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-6' id='map-holder'>
				<div id='map'></div>
			</div>
			<div class='col-sm-6' id='contact'>
				Feel free to leave us a message!
			 	<br><br>

				SGCBAM 2016 Committee
				<br><br>
				UTown SRC, 2 College Avenue West<br/>
				Singapore 138607 <br> <br/>

				<img src = 'img/email.png' class='connect-email'
				 onclick='window.location.href="&#109;&#101;&#101;&#116;&#117;&#115;&#64;&#110;&#117;&#115;&#98;&#105;&#122;&#105;&#116;&#46;&#111;&#114;&#103;";'>
				<img src = 'img/phone.png' class='connect-phone'
				 onclick='window.location.href="#"'>
				<img src = 'img/fb.png' class='connect-fb'
				 onclick='window.location.href="#"'>
			</div>
		</div>
		</div>
</section>
