<section id='countdown'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-12 countdown-title'>
				Let the countdown begin!
			</div>
			<div class='col-sm-3'>
				<div class="counter">
					<div class="counter">
						<p id='count-day-display'>0</p>
					    <svg xmlns="http://www.w3.org/2000/svg"><g>
							<circle id="count-day" r="70" cy="80" cx="80" stroke-width="8" stroke="#93A1A9" fill="none" />
						</g></svg>
					</div>
				</div>
			</div>
			<div class='col-sm-3'>
				<div class="counter">
					<p id='count-hour-display'>0</p>
				    <svg xmlns="http://www.w3.org/2000/svg"><g>
						<circle id="count-hour" r="70" cy="80" cx="80" stroke-width="8" stroke="#AA62AB" fill="none" />
					</g></svg>
				</div>
			</div>
			<div class='col-sm-3'>
				<div class="counter">
					<p id='count-minute-display'>0</p>
				    <svg>xmlns="http://www.w3.org/2000/svg"><g>
						<circle id="count-minute" r="70" cy="80" cx="80" stroke-width="8" stroke="#00bbbb" fill="none" />
					</g></svg>
				</div>
			</div>
			<div class='col-sm-3'>
				<div class="counter">
					<p id='count-second-display'>0</p>
				    <svg xmlns="http://www.w3.org/2000/svg"><g>
						<circle id="count-second" r="70" cy="80" cx="80" stroke-width="8" stroke="#2b84d2" fill="none"/>
     				</g></svg>
				</div>
			</div>
		</div>
	</div>
</section>
