<section id='details'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-4' id='detail-data'>
				<!-- Format -->
				<p class='detail-title detail-title-1'>Format</p>
				<p class='detail-content'>
				SGCBAM 2016 is a 2-day (9am - 6pm) competition from 3rd to 4th September 2016, held at UTown, National University of Singapore. Lunch and dinner will be provided.
				<br> <br>
				Students should install SAS software on their personal laptops before the start of the competition. Further details will be released soon.
				</p>
			</div>
			<div class='col-sm-4' id='detail-data'>
				<p class='detail-title detail-title-2'>The Challenge</p>
				<p class='detail-content'>
					Teams will be given a set of raw data, and learn to use data analytic tools (SAS) to visualise data and generate business insights based on a problem statement.
					<br> <br>
					Our panel of judges will decide the winner based on the most innovative and thorough use of data. The problem statement for the challenge will be released on the competition day itself.
					<br> <br>
					Check out our <a href='https://www.facebook.com/sgcbam2016'>Facebook page</a> for hints on the challenge!
				</p>
			</div>
			<div class='col-sm-4' id='detail-data'>
				<p class='detail-title detail-title-3'>What's in it for me?</p>
				<p class='detail-content'>
					A first-of-its-kind, this competition is specially catered for students with interest in the growing field of business analytics in the Infocomm industry.
					<br> <br>
					You get to attend talks by industry experts in the field of geospatial and business analytics!
					<br> <br>
					Have fun while you learn during the Amazing Race session where you and your team race against time to complete station games.
				</p>
			</div>
		</div>
	</div>
</section>
