<section id='details'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-4'>
				<p class='detail-shirt'>
					[Shirt Image Here]
				</p>
				<p class='text-center'>
					Fancy this shirt? Sizes are available
					<a>here</a>!
				</p>
			</div>
			<div class='col-sm-8' id='detail-data'>

				<!-- Format -->
				<p class='detail-title'>Format</p>
				<p class='detail-content'>
				Singapore Geospatial Challenge - Business Analytics Mania (SGCBAM) 2016 is a 2-day (9am - 6pm) competition from 3rd to 4th September 2016, held at UTown, National University of Singapore. Lunch and dinner will be provided. 				Teams can expect to learn, hack and present their analysis during the competition.
				<p>

				<p class='detail-title'>Software</p>
				<p class='detail-content'>
				SGCBAM 2016 is specially catered for students interested in the evolving field of business analytics in the Infocomm industry. Teams will be given a set of raw data and will learn to use Business Analytic tools (SAS software) to visualise geospatial data and generate business insights. No experience is required. Students will be given hands-on learning experience under the guidance of our SAS-certified student consultants.<br><br>


				Students are to bring their own laptops. No laptops and/or computers will be provided during the competition. Students should also install SAS software on their personal laptops using <a>this guide</a> before the start of the competition.

				<!-- Judging -->
				<p class='detail-title'>Judging Critria</p>

				<p class='detail-content'>
				Our panel of judges will decide the winner based on the most innovative and thorough use of data to form business insights.

				Teams will be assessed based on the following:
				<div class='detail-judge'>
					<div class='detail-criteria'>Data Analysis</div>
					<div class='detail-criteria-weight'>35%</div>
					<div class='detail-criteria-info'>depth, rationality and usefuless</div>
				</div>
				<div class='detail-judge'>
					<div class='detail-criteria'>Application</div>
					<div class='detail-criteria-weight'>35%</div>
					<div class='detail-criteria-info'>creativeness and feasibility of solution</div>
				</div>
				<div class='detail-judge'>
					<div class='detail-criteria'>Pitch</div>
					<div class='detail-criteria-weight'>30%</div>
					<div class='detail-criteria-info'>articulation of ideas and engagement with audience</div>
				</div>
				</p>

			</div>
		</div>
	</div>
</section>
