<section id='details'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-3'>
				<p class='detail-title'>Eligibility</p>
				<p class='detail-img'>[Insert Image Here]</p>
				<p class='detail-description'>
					Must be Pre-U students.....????
				</p>
			</div>
			<div class='col-sm-3'>
				<p class='detail-title'>Fees</p>
				<p class='detail-img'>[Insert Image Here]</p>
				<p class='detail-description'>
					Is f(r)ee.....???
				</p>
			</div>
			<div class='col-sm-3'>
				<p class='detail-title'>Teams of Three</p>
				<p class='detail-img'>[Insert Image Here]</p>
				<p class='detail-description'>
					Get your kakis .....????
				</p>
			</div>
			<div class='col-sm-3'>
				<p class='detail-title'>What You Need</p>
				<p class='detail-img'>[Insert Image Here]</p>
				<p class='detail-description'>
					Laptops.... ???
				</p>
			</div>
		</div>
	</div>
</section>
