<header>
    <div class='heading vert-align text-center'>
        <!-- Headings -->
        <p class='heading-title'> Singapore Geospatial Challenge </p>
        <p class='heading-subtitle'> Business Analytics Mania 2016 </p>
        <p class='heading-details'> University Town | 3-4 September </p>
        <p class='text-center'>
            <a href='#about'>
                <img src='img/scrolldown.png' class='heading-scroll'
                 onmouseover='this.src="img/scrolldown-hover.png"'
                 onmouseout='this.src="img/scrolldown.png"'>
            </a>
        </p>
    </div>
</header>
