<header id="main">
    <div class='heading vert-align text-center'>
        <!-- Headings -->
        <p class='heading-title'> Singapore Geospatial Challenge </p>
        <p class='heading-subtitle'> Business Analytics Mania 2016 </p>
        <p class='details'> {{ site.location }} | {{ site.date }} </p>
        <!-- Buttons -->
        <button type='button' class='btn btn-default btn-md'>
            Learn More
        </button>
        <button type='button' class='btn btn-default btn-md'>
            Register
        </button>
        <p class='heading-scroll'>[Some scroll-down glyph of sorts]</p>
    </div>
</header>
