<!-- Jquery for Bootstrap -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<!-- Bootstrap Javascript  maxCDN -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
 integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS'
 crossorigin='anonymous'></script>
 <!-- Google Maps Location -->
<script src='js/location.js'></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdXiNK7ZgOK6wdpOLkbFvZIUYFYD9m42g&callback=init_map">
 </script>
<!-- Smooth Scrolling-->
<script src='js/smoothscroll.js'></script>
<!-- Nav Menu Hide On Press for mobile -->
<script src='js/navmenu-hide.js'></script>
<!-- Countdown Timer -->
<script src='js/countdown.js'></script>
