<section id='lpa'>
	<div class='container'>
		<div class='row' id='detail-data'>
			<p class='detail-title'>Software</p>
			<div class='col-sm-4'>
				<p class='detail-title'> Learn </p>
				<p class='detail-content'>
					Participants will attend workshops on geospatial, SAS and business analytics to have a clearer overview of geospatial field and its application in businesses.
					</p>
			</div>
			<div class='col-sm-4'>
				<p class='detail-title'> Play </p>
				<p class='detail-content'>
					Participants will be involved in an Amazing Race where they will go to different stations and complete a task. The task execution will cement the things learnt from the workshops.
				</p>
			</div>
			<div class='col-sm-4'>
				<p class='detail-title'> Apply </p>
				<p class='detail-content'>
					Using the knowledge and skills learnt from the workshops and Amazing Race, participants will work in their teams to come up with an analysis of the given dataset and provide solutions to the problem statement.
				</p>
			</div>
		</div>
	</div>
</section>
