<nav class='navbar navbar-default navbar-fixed-top'>
	<div class='container-fluid'>
		<!-- Collapsed Menu -->
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse'
			 data-target='#sgc-navbar'>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand' href='#'>SGCBAM 2016</a>
		</div>
		<!-- Normal Menu -->
		<div id='sgc-navbar' class='collapse navbar-collapse'>
			<ul class='nav navbar-nav navbar-right'>
				<li><a href='#about'>About</a></li>
				<li><a href ='#details'>Details</a></li>
				<li><a href ='#timeline'>Timeline</a></li>
				<li><a href ='#sponsors'>Sponsors</a></li>
				<li><a href ='#connect'>Connect</a></li>
			</ul>
		</div>
	</div>
</nav>
