<nav class='navbar navbar-default navbar-fixed-top'>
	<div class='container'>
		<!-- Collapsed Menu -->
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse'
			 data-target='#sgc-navbar'>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
			<a class='navbar-brand' href='#'>SGCBAM 16</a>
		</div>
		<!-- Normal Menu -->
		<div id='sgc-navbar' class='collapse navbar-collapse'>
			<ul class='nav navbar-nav navbar-right'>
				<li><a href='#about'>
						<span class='glyphicon glyphicon-info-sign'></span>
						&nbsp;About
					</a></li>
				<li><a href ='#details'>
					<span class='glyphicon glyphicon-list'></span>
					&nbsp;Details
					</a></li>
				<li><a href ='#timeline'>
					<span class='glyphicon glyphicon-time'></span>
					&nbsp;Timeline
					</a></li>
				<li><a href ='#sponsors'>
					<span class='glyphicon glyphicon-star'></span>
					&nbsp;Sponsors
					</a></li>
				<li><a href ='#connect'>
					<span class='glyphicon glyphicon-envelope'></span>
					&nbsp;Connect
					</a></li>
				<li class='nav-reg'>
					<a href ='https://sgcbam2016.typeform.com/to/WHW5ns'>
					&nbsp;Register
					</a></li>
			</ul>
		</div>
	</div>
</nav>
