<section id='requirement'>
	<div class='container-fluid'>
		<div class='req-main-title'>
			Hello
		</div>
		<div class='row'>
			<div class='col-sm-3'>
				<p class='req-title'>Eligibility</p>
				<p class='req-img'>
					<img src = 'img/preu.png'>
				</p>
				<p class='req-description'>
					All <b class='req-bold'>pre-university students</b> (Junior Colleges, Polytechnics, Millennia Institute) are welcome!
				</p>
			</div>
			<div class='col-sm-3'>
				<p class='req-title'>Fees</p>
				<p class='req-img'>
					<img src = 'img/nofee.png'>
				</p>
				<p class='req-description'>
					<b class='req-bold'>Absolutely free.</b> Come down to learn with everyone else!
				</p>
			</div>
			<div class='col-sm-3'>
				<p class='req-title'>Teams</p>
				<p class='req-img'>
					<img src = 'img/team.png'>
				</p>
				<p class='req-description'>
					Form <b class='req-bold'> teams of 3 </b> from the same institution to compete! No experience required!
				</p>
			</div>
			<div class='col-sm-3'>
				<p class='req-title'>What You Need</p>
				<p class='req-img'>
					<img src = 'img/byoc.png'>
				</p>
				<p class='req-description'>
					Your <b class='req-bold'>own laptop</b> is required! Charging ports will be provided.
				</p>
			</div>
		</div>
	</div>
</section>
