<section id='tshirt'>
	<div class='row'>
		<div class='col-sm-3 col-sm-offset-1'>
			<div class='tshirt-image'>[Image]</div>
		</div>
		<div class='col-sm-7 tshirt-description'>
			<p>
			All participants will receive this exclusive competition T-Shirt!
			Post a team <b> wefie / picture on Instagram with the hashtag #sgcbam2016 </b> and stand to win prizes! More details will be announced on the competition day.
			<br><br>
			Please refer to our <a href='img/tshirt-size.jpg'> T-Shirt size guide </a> for details!
			</p>
		</div>
	</div>
</section>
