<section id='sponsors'>
	<div class='container-fluid'>
		<div class='row'>
			<!-- Main Sponsors -->
			<div class='col-sm-12 sponsor-title'>
				Organized By
			</div>
			<!-- SLA -->
			<div class='col-sm-3 col-sm-offset-3 text-center sponsor-holder'>
				<div class='col-sm-12 text-center sponsor-holder'>
					<p class='vert-align'>
						<img src='img/sla.png' class='sponsor-img'
		                 onmouseover='this.src="img/sla-color.png"'
		                 onmouseout='this.src="img/sla.png"'
						 onclick='window.location.href="https://www.sla.gov.sg/"'>
					</p>
				</div>
			</div>
			<div class='col-sm-3 text-center sponsor-holder'>
				<div class='col-sm-12 text-center sponsor-holder'>
					<p class='vert-align'>
						<img src='img/sgcbamlogo.png' class='sponsor-img'
		                 onmouseover='this.src="img/sgcbamlogo-color.png"'
		                 onmouseout='this.src="img/sgcbamlogo.png"'
						 onclick='window.location.href="http://sgcbam.org/"'>
					</p>
				</div>
			</div>

		</div>
		<div class='row'>
			<!-- Titles -->
			<div class='col-sm-8 sponsor-small-title'> Event Partners </div>
			<div class='col-sm-4 sponsor-small-title sponsor-sm-hide'> In Collaboration With </div>
			<!-- SAS -->
			<div class='col-sm-3 col-sm-offset-1 text-center sponsor-holder'>
				<div class='col-sm-12 text-center sponsor-holder'>
					<p class='vert-align'>
						<img src='img/sas.png' class='sponsor-img'
		                 onmouseover='this.src="img/sas-color.png"'
		                 onmouseout='this.src="img/sas.png"'
						 onclick='window.location.href="http://www.sas.com"'>
				</div>
			</div>
			<!-- AON -->
			<div class='col-sm-3 text-center sponsor-holder'>
				<div class='col-sm-12 text-center sponsor-holder'>
					<p class='vert-align'>
						<img src='img/aon.png' class='sponsor-img'
		                 onmouseover='this.src="img/aon-color.png"'
		                 onmouseout='this.src="img/aon.png"'
						 onclick='window.location.href="http://www.aon.com"'>
					</a>
				</div>
			</div>
			<div class='col-sm-4 sponsor-small-title sponsor-sm-show'> In Collaboration With </div>
			<!-- NUS -->
			<div class='col-sm-4 col-sm-offset-1 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/nus.png' class='sponsor-img'
	                 onmouseover='this.src="img/nus-color.png"'
	                 onmouseout='this.src="img/nus.png"'
					 onclick='window.location.href="http://www.comp.nus.edu.sg"'>
				</p>
			</div>
		</div>
	</div>
</section>
