<section id='sponsors'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-8 sponsor-title'>
				Organized By
			</div>
			<div class='col-sm-4 sponsor-small-title sponsor-sm-hide'>
				Academic Sponsors
			</div>
		</div>
		<div class='row'>
			<!-- SLA -->
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
						<img src='img/sla.png' class='sponsor-img'
		                 onmouseover='this.src="img/sla-color.png"'
		                 onmouseout='this.src="img/sla.png"'
						 onclick='window.location.href="https://www.sla.gov.sg/"'>
				</p>
			</div>
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/sgcbamlogo.png' class='sponsor-img'
		                 onmouseover='this.src="img/sgcbamlogo-color.png"'
		                 onmouseout='this.src="img/sgcbamlogo.png"'
						 onclick='window.location.href="http://sgcbam.org/"'>
				</p>
			</div>
			<!-- NUS -->
			<div class='col-sm-4 sponsor-small-title sponsor-sm-show'>
				Academic Sponsors
			</div>
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/nus.png' class='sponsor-img'
	                 onmouseover='this.src="img/nus-color.png"'
	                 onmouseout='this.src="img/nus.png"'
					 onclick='window.location.href="http://www.comp.nus.edu.sg"'>
				</p>
			</div>
		</div>
		<div class='row'>
			<!-- Titles -->
			<div class='col-sm-8 sponsor-small-title'> Sponsors </div>
			<div class='col-sm-4 sponsor-small-title sponsor-sm-hide'> Industry Partner </div>
			<!-- SAS -->
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
						<img src='img/sas.png' class='sponsor-img'
		                 onmouseover='this.src="img/sas-color.png"'
		                 onmouseout='this.src="img/sas.png"'
						 onclick='window.location.href="http://www.sas.com"'>
				</p>
			</div>
			<!-- JOS -->
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
						<img src='img/jos.png' class='sponsor-img'
		                 onmouseover='this.src="img/jos-color.png"'
		                 onmouseout='this.src="img/jos.png"'
						 onclick='window.location.href="http://www.jos.com"'
						 style='height: 100px; width: 100px;'>
				</p>
			</div>
			<!-- AON -->
			<div class='col-sm-4 sponsor-small-title sponsor-sm-show'>
				Industry Partner
			</div>
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
						<img src='img/aon.png' class='sponsor-img'
		                 onmouseover='this.src="img/aon-color.png"'
		                 onmouseout='this.src="img/aon.png"'
						 onclick='window.location.href="http://www.aon.com"'>
				</p>
			</div>
		</div>
	</div>
</section>
