<section id='sponsors'>
	<div class='container-fluid'>
		<div class='row'>
			<!-- Main Sponsors -->
			<div class='col-sm-12 sponsor-title'>
				Sponsors
			</div>
			<!-- SLA -->
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/sla.png' class='sponsor-img'>
				</p>
			</div>
			<!-- SAS -->
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/sas.png' class='sponsor-img'>
				</p>
			</div>
			<!-- AON -->
			<div class='col-sm-4 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/aon.png' class='sponsor-img'>
				</p>
			</div>
		</div>
		<div class='row'>
			<!-- Main Sponsors -->
			<div class='col-sm-12 sponsor-nus-title'>
					In Collaboration With
			</div>
			<div class='col-sm-12 text-center sponsor-holder'>
				<p class='vert-align'>
					<img src='img/nus.png' class='sponsor-img'>
				</p>
			</div>
		</div>
	</div>
</section>
