<section id='timeline'>
	<div class='container-fluid'>
		<!-- Day 1-->
		<div class='row'>
			<div class='col-sm-12 activity-heading'>
				Timeline <br/> &nbsp;
			</div>

			<div class='col-sm-2 activity'>
				<p class='text-center'>
					<img src = 'img/calendar.png' class='activity-calendar'>
				</p>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green1'>0900</div>
				<div class='activity-name'>Registration</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green2'>1000</div>
				<div class='activity-name'>Opening Address</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green3'>1030</div>
				<div class='activity-name'>Technical Workshops</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green4'>1200</div>
				<div class='activity-name'>Lunch</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green5'>1300</div>
				<div class='activity-name'>Challenge Brief</div>
			</div>

			<!-- Connector -->
			<div class='col-sm-10 col-sm-offset-1
			 activity-connector hori-connector-green'></div>
			<div class='col-sm-1
			 activity-connector right-connector-green'></div>
			<div class='col-sm-11 col-sm-offset-1
			 activity-connector left-connector-green'></div>
			<!-- End of Connector -->

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green6'>1330</div>
				<div class='activity-name'>Start of Challenge</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green7'>1730</div>
				<div class='activity-name'>Debrief</div>
			</div>


			<div class='col-sm-2 activity'>
				<div class='activity-time activity-green8'>1800</div>
				<div class='activity-name'>End of Day 1</div>
			</div>

		<!-- Day 2 -->

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue1'>0900</div>
				<div class='activity-name'>Day 2 Brief</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue2'>0915</div>
				<div class='activity-name'>Resume Challenge</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue3'>1200</div>
				<div class='activity-name'>Lunch</div>
			</div>

			<!-- Connector -->
			<div class='col-sm-10 col-sm-offset-1
			 activity-connector hori-connector-blue'></div>
			<div class='col-sm-1
			 activity-connector right-connector-blue'></div>
			<div class='col-sm-11 col-sm-offset-1
			 activity-connector left-connector-blue'></div>
			<!-- End of Connector -->

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue4'>1345</div>
				<div class='activity-name'>End of Challenge</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue5'>1400</div>
				<div class='activity-name'>Judging</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue6'>1630</div>
				<div class='activity-name'>Closing Ceremony</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue7'>1715</div>
				<div class='activity-name'>Networking Session</div>
			</div>

			<div class='col-sm-2 activity'>
				<div class='activity-time activity-blue8'>1800</div>
				<div class='activity-name'>End of Event</div>
			</div>


			<div class='col-sm-2 activity'>
				<p class='text-center'>
					<img src='img/rocket.png' class='activity-rocket'> <br/><br/>
					<b>That's it!</b>
				</p>
			</div>
		</div>
	</div>
</section>
