<section id='timeline'>
	<div class='col-sm-12 sub-title'>
	Timeline
	</div>
	<div class='col-sm-6'>
		<p class='day text-center'>Day 1</p>
		<div class='activity'>
			<span class='activity-time'>0900</span>
			<span class='activity-name'>Registration</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1000</span>
			<span class='activity-name'>Opening Address</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1030</span>
			<span class='activity-name'>SAS Workshop</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1200</span>
			<span class='activity-name'>Lunch</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1300</span>
			<span class='activity-name'>Challenge Brief</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1330</span>
			<span class='activity-name'>Challenge</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1730</span>
			<span class='activity-name'>Debrief</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1800</span>
			<span class='activity-name'>End of Day 1</span>
		</div>
	</div>
	<div class='col-sm-6'>
		<p class='day text-center'>Day 2</p>
		<div class='activity'>
			<span class='activity-time'>0900</span>
			<span class='activity-name'>Day Brief</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>0930</span>
			<span class='activity-name'>Challenge</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1200</span>
			<span class='activity-name'>Lunch</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1345</span>
			<span class='activity-name'>End of Challenge</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1400</span>
			<span class='activity-name'>Judging</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1630</span>
			<span class='activity-name'>Closing Ceremony</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1715</span>
			<span class='activity-name'>Networking Session</span>
		</div>
		<div class='activity'>
			<span class='activity-time'>1800</span>
			<span class='activity-name'>End of Event</span>
		</div>
	</div>
</section>
