// Variables (Including Colour Settings)
$blue-grey: #222F3E
$cyan: #15A59D
$light-cyan: #00bbbb
$purple: #884089
$light-purple: #AA62AB
$light-blue: #2B84D2
$light-grey: #839199
$white: #FFF

html, body
	margin: 0
	border: 0
	padding: 0
	height: 100%
	width: 100%
	max-width: 100%
	font-family: 'Open Sans'

.col-sm-1point5
	width: 12.5%
	float: left

@media screen and (max-width: 768px)
	.col-sm-1point5
		width: 100%
