// -- Navigation Bar CSS ---
.navbar-default
	background-color: $blue-grey
	border: $blue-grey

.navbar-default .navbar-brand
	color: $white
	font-weight: 600

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
	color: $white
	font-weight: 600

.navbar-default .navbar-nav > li > a
	color: $light-grey
	font-weight: 500

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
	color: $white
	font-weight: 500

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
	background-color: $blue-grey

.navbar-default .navbar-toggle
	border-color: $blue-grey

.navbar-default .navbar-toggle .icon-bar
	background-color: $white

#sgc-navbar
	border: none

// --- Header CSS ---
header
	background-color: $blue-grey
	height: 100%
	width: 100%
	position: relative

.heading
	width: 100%

.heading-title
	font-size: 3em
	font-weight: 900
	color: $white

.heading-subtitle
	font-size: 2em
	font-weight: 500
	color: $light-grey

.heading-details
	font-size: 1.2em
	color: $light-grey
	margin-bottom: 30px

.heading-scroll
	width: 50px

// -- About CSS ---
#about
	padding: 0 20px 0 20px

#about > div
	padding: 20px 40px 20px 40px

.about-logo
	max-width: 300px
	width: 100%
	margin-bottom: 10px

.about-title
	font-size: 2em
	font-weight: 900
	color: $blue-grey
	text-align: center

.about-subtitle
	font-size: 1.8em
	text-align: center
	color: $blue-grey
	margin-bottom: 40px

.about-subhead
	font-weight: 700
	font-size: 1.3em
	text-align: center

.about-subhead-1
	color: $purple
.about-subhead-2
	color: $cyan
.about-subhead-3
	color: $light-blue

.about-description-1
	text-align: justify
	padding-top: 10px
	border-top: 5px solid $purple
.about-description-2
	text-align: justify
	padding-top: 10px
	border-top: 5px solid $cyan
.about-description-3
	text-align: justify
	padding-top: 10px
	border-top: 5px solid $light-blue


// --- Details CSS ---
#details
	padding: 0 20px 0 20px

#details, #details > div
	background-color: $blue-grey

.detail-title
	color: white
	text-align: center

.detail-img
	color: white
	text-align: center

.detail-description
	color: white
	text-align: center

// --- Timeline CSS ---
#timeline
	padding: 0 20px 0 20px


.day
	font-size: 1.2em
	font-weight: 500
.activity
	width: 100%
	padding: 10px 20px 10px 20px
	border-top: 1px solid black
.activity-time
	margin-left: 20px
.activity-name
	margin-left: 50px

// --- Register CSS ---
#register > div
	padding: 20px

#register, #register > div
	background-color: $blue-grey
	color: $white
	font-size: 1.1em
	font-weight: 700
	text-align: center

.reg-button
	margin: 20px

// --- Sponsors CSS ---
#sponsor
	height: 150px

.sponsor-title
	font-size: 2.5em
	text-align: center
	font-weight: 700
	color: $blue-grey

.sponsor-holder
	height: 150px

.sponsor-img
	width: 150px

.container-fluid
	padding: none !important
	border: none !important
	margin: none !important

// --- Connect CSS ---
#connect, #connect > div
	background-color: $blue-grey
	color: $light-grey

#connect > div
	padding: 20px

#map-holder

#contact
	margin-top: 20px
	text-align: right
	font-size: 1.1em


@media screen and (max-width: 600px)
	#contact
		text-align: center

#map
	width: 100%
	height: 200px

// --- Footer CSS ---
footer
	background-color: $blue-grey
	padding: 10px 0 5px 0
	color: $light-grey
