<!DOCTYPE html>
<html lang='en'>
  {% include head.html %}
  <body>
        {% include nav.html %}
        {% include header.html %}
        {% include about.html %}
        {% include requirement.html %}
        {% include details.html %}
        {% include lpa.html %}
        {% include preparation.html %}
        {% include countdown.html %}
        {% include timeline.html %}
        {% include register.html %}
        {% include sponsors.html %}
        {% include connect.html %}
        {% include footer.html %}
        {% include js.html %}
  </body>
</html>
